<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PropertyManage</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShenheServlet</display-name>
    <servlet-name>ShenheServlet</servlet-name>
    <servlet-class>AdminServlet.ShenheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShenheServlet</servlet-name>
    <url-pattern>/ShenheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yes</display-name>
    <servlet-name>yes</servlet-name>
    <servlet-class>AdminServlet.yes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yes</servlet-name>
    <url-pattern>/yes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>no</display-name>
    <servlet-name>no</servlet-name>
    <servlet-class>AdminServlet.no</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>no</servlet-name>
    <url-pattern>/no</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProperty</display-name>
    <servlet-name>addProperty</servlet-name>
    <servlet-class>AdminServlet.addProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProperty</servlet-name>
    <url-pattern>/addProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guihuanServlet</display-name>
    <servlet-name>guihuanServlet</servlet-name>
    <servlet-class>AdminServlet.guihuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guihuanServlet</servlet-name>
    <url-pattern>/guihuanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guiHuan</display-name>
    <servlet-name>guiHuan</servlet-name>
    <servlet-class>AdminServlet.guiHuan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guiHuan</servlet-name>
    <url-pattern>/guiHuan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>UserServlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProperty</display-name>
    <servlet-name>FindProperty</servlet-name>
    <servlet-class>AdminServlet.FindProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProperty</servlet-name>
    <url-pattern>/FindProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyHistory</display-name>
    <servlet-name>PropertyHistory</servlet-name>
    <servlet-class>AdminServlet.PropertyHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyHistory</servlet-name>
    <url-pattern>/PropertyHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHistory</display-name>
    <servlet-name>UserHistory</servlet-name>
    <servlet-class>AdminServlet.UserHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHistory</servlet-name>
    <url-pattern>/UserHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>AdminServlet.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchServlet</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>AdminServlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/FindUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogInServlet</servlet-name>
    <servlet-class>AdminServlet.AdminLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogInServlet</servlet-name>
    <url-pattern>/AdminLogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformation</display-name>
    <servlet-name>UserInformation</servlet-name>
    <servlet-class>AdminServlet.UserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformation</servlet-name>
    <url-pattern>/UserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserInformation</display-name>
    <servlet-name>ChangeUserInformation</servlet-name>
    <servlet-class>AdminServlet.ChangeUserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserInformation</servlet-name>
    <url-pattern>/ChangeUserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>AdminServlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPasswordReset</display-name>
    <servlet-name>UserPasswordReset</servlet-name>
    <servlet-class>AdminServlet.UserPasswordReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPasswordReset</servlet-name>
    <url-pattern>/UserPasswordReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLookPropertyServlet</display-name>
    <servlet-name>UserLookPropertyServlet</servlet-name>
    <servlet-class>UserServlet.UserLookPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLookPropertyServlet</servlet-name>
    <url-pattern>/UserLookPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRequisitionServlet</display-name>
    <servlet-name>UserRequisitionServlet</servlet-name>
    <servlet-class>UserServlet.UserRequisitionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequisitionServlet</servlet-name>
    <url-pattern>/UserRequisitionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAppliedPropertyServlet</display-name>
    <servlet-name>UserAppliedPropertyServlet</servlet-name>
    <servlet-class>UserServlet.UserAppliedPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAppliedPropertyServlet</servlet-name>
    <url-pattern>/UserAppliedPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHistoryRecordServlet</display-name>
    <servlet-name>UserHistoryRecordServlet</servlet-name>
    <servlet-class>UserServlet.UserHistoryRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHistoryRecordServlet</servlet-name>
    <url-pattern>/UserHistoryRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRequisitionOrderServlet</display-name>
    <servlet-name>UserRequisitionOrderServlet</servlet-name>
    <servlet-class>UserServlet.UserRequisitionOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequisitionOrderServlet</servlet-name>
    <url-pattern>/UserRequisitionOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPropertyInfoServlet</display-name>
    <servlet-name>UserPropertyInfoServlet</servlet-name>
    <servlet-class>UserServlet.UserPropertyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPropertyInfoServlet</servlet-name>
    <url-pattern>/UserPropertyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserapplyServlet</display-name>
    <servlet-name>UserapplyServlet</servlet-name>
    <servlet-class>UserServlet.UserapplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserapplyServlet</servlet-name>
    <url-pattern>/UserapplyServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>MyFirstTag</taglib-uri>
      <taglib-location>/WEB-INF/lib/MyTag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>lockServlet</display-name>
    <servlet-name>lockServlet</servlet-name>
    <servlet-class>AdminServlet.lockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lockServlet</servlet-name>
    <url-pattern>/lockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>SuperAdminServlet.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdmin</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>SuperAdminServlet.DeleteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdmin</display-name>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>SuperAdminServlet.UpdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/UpdateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchbyId</display-name>
    <servlet-name>SearchbyId</servlet-name>
    <servlet-class>SuperAdminServlet.SearchbyId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchbyId</servlet-name>
    <url-pattern>/SearchbyId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAdmin</display-name>
    <servlet-name>SearchAdmin</servlet-name>
    <servlet-class>SuperAdminServlet.SearchAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdmin</servlet-name>
    <url-pattern>/SearchAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allUserServlet</display-name>
    <servlet-name>allUserServlet</servlet-name>
    <servlet-class>AdminServlet.allUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allUserServlet</servlet-name>
    <url-pattern>/allUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperAdminLogin</display-name>
    <servlet-name>SuperAdminLogin</servlet-name>
    <servlet-class>SuperAdminServlet.SuperAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdminLogin</servlet-name>
    <url-pattern>/SuperAdminLogin</url-pattern>
  </servlet-mapping>
</web-app>